package schema

import "github.com/bongnv/pggo/pkg/sqlbuilder"

// SampleTable defines the schema of {{ .Table.Name }}.
var SampleTable = struct {
	sqlbuilder.BaseTable
	ID   string
	Name string
}{
	BaseTable: "{{ .Table.Name }}",
	ID:        "id",
	Name:      "name",
}
