package schema

import "github.com/bongnv/pggo/pkg/sqlbuilder"

// SampleTable defines the schema of {{ .Table.Name }}.
var SampleTable = struct {
	sqlbuilder.Table
	ID   sqlbuilder.Column
	Name sqlbuilder.Column
}{
	Table: sqlbuilder.BaseTable{
		Name: "{{ .Table.Name }}",
	},
}

func init() {
	SampleTable.ID = sqlbuilder.BaseColumn{
		Table: SampleTable,
		Name:  "id",
	}

	SampleTable.Name = sqlbuilder.BaseColumn{
		Table: SampleTable,
		Name:  "name",
	}
}
